@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
height: 100vh;
background-color: hsl(47, 83%, 63%);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.card-container{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 5px 5px 0px #000;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}
.top-section{
  width: 100%;
  height: 50%;
}
.image-top{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.btn{
background-color: hsl(47, 83%, 63%);
font-weight: 800;
font-size: 1rem;
padding: 6px 6px;
width: 150px;
border-width: 0px;
border-radius: 8px;
font-family: "Roboto";
font-size: 1rem;
}
.about{
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-heading{
  font-family:"Roboto";
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 1rem;
}
.card-description{
  font-family: "Roboto";
  color: hsl(0, 0%, 50%) ;
  font-weight: 600;
  font-size: 14px;
}
ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1rem;
}
.profile{
  width: 1.7rem;
}
.name{
  font-family: "Roboto";
  font-weight: 800;
  
}